@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600&family=Roboto&display=swap');
 
:root{
--clr-violet: hsl(257, 40%, 49%);
--clr-soft-magenta: hsl(300, 69%, 71%);

--fn-default: 'Open Sans', sans-serif;
--fn-heading: 'Poppins', sans-serif;
--fw-400: 400;
--fw-500: 500;
--fw-600: 600;
--fw-700: 700;

}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,svg,picture{
    width:100%;
}

h1,h2,h3,h4,h5,h6{margin-bottom: 0.5rem;}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
body{
    font-family: var(--fn-default);
    background: url('./images/bg-mobile.svg') no-repeat ;
    background-color: var(--clr-violet);
    color: #fff;
}
/* Utility */
.container{
    max-width: 1330px;
    padding: 0 1.2rem;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    padding: 0.6rem 4.2rem;
    border: none;
    border-radius: 2rem;
    background: #fff;
    text-align: center;
    color: var(--clr-violet);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);
    margin-top: 1.5rem;
}
.btn:hover,
.btn:active{
    background-color: var(--clr-soft-magenta);
    color: #fff;
}

/* Header */
#main-header{
    min-height: 100vh;
}
.logo{
    width: 200px;
    padding: 30px;
}
.showcase-container{
    padding: 1rem;
    font-size: 0.9rem;
    text-align: center;
}

.showcase-content{
    margin-top: 3.5rem;
    padding: 0 1rem;
}
.showcase-heading{
    font-size: 1.5rem;
}

.social{
    text-align: center;
    margin-top: 3rem ;
}
.social span{
    display: inline-block;
    width: 30px;
    border: 1px solid #fff;
    margin-right: 5px;
    border-radius: 50%;
    padding: 3px;

}
.social span:hover{
    border-color: var(--clr-soft-magenta);
  
}
.social span a:hover{
    color: var(--clr-soft-magenta);
}


@media(min-width:800px){
       body{
        display: grid;
        place-content: center;
        background: url(./images/bg-desktop.svg) no-repeat center center/cover;
        background-color: var(--clr-violet);
    }
    .showcase-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        position: relative;
        max-width: 1200px;
    }
    .showcase-content{
        text-align: left;
        padding: 0 3rem;
    }
    .showcase-heading{
        font-size: 3vmax;
    }
    .btn{
        padding: 1rem 4rem;
        font-size: 1.1rem;
    }
    .social{
        position: absolute;
        right: 3rem;
        bottom: 2.5rem;
    }
}